<!doctype html>
    html
        head
            link(href="https://fonts.google.com/specimen/Roboto+Slab?query=Roboto+Slab", rel="stylesheet")
            link(href="https://fonts.google.com/specimen/Montserrat?query=Montserrat", rel="stylesheet")
            link(href="styles/main.css", rel="stylesheet")
        body
            include sections/main-screen
            include sections/services
            include sections/works   
            include sections/about-us
            include sections/blog
            include sections/clients
               
                    
                                            

        