.about-us
    .container
        h2.about-us__title About us
        p.about-us__subtitle Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet
        .about-us__item
            .about-us__left
                p.about-us__information Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam nonumy eirmod tempor invidunt ut labore et dolore aliquyam erat, sed diam voluptua. At vero eos et accusam et justo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor et dolore aliquyam erat. Lorem ipsum dolor sit amet. Lorem ipsum eat.
                .about-us__right
                p.about-us__information Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam nonumy eirtempor invidunt ut labore et dolore aliquyam erat, sed diam voluptua. At vero eos eaccusam et justo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor et dolore aliquyam erat. Loreipsum dolor sit amet. Lorem ipsum dolor et.
        .about-us__members
            .about-us__member
                .about-us__member-photo1
                h6.about-us__member-name Md. Khalil Uddin
                p.about-us__member-post Head of Ideas
            .about-us__member
                .about-us__member-photo2  
                h6.about-us__member-name Rubel Miah
                p.about-us__member-post Lead WordPress Developer
            .about-us__member 
                .about-us__member-photo3
                h6.about-us__member-name Shamim 
                p.about-us__member-post Sr. Web Developer
            .about-us__member 
                .about-us__member-photo4
                h6.about-us__member-name John Doe
                p.about-us__member-post Front-end Developer 