.blog  
    .container
        h6.blog__title Recent blog posts
        .blog__line
        p.blog__subtitle Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet
        .blog__post1
            .blog__post1-left
            .blog__post1-right
                p.blog__post1-date 18 oct
                h6.blog__post1-title Startup ideas needs to be funded 
                p.blog__post1-subtitle By 
                    span.design Khalil 
                    | Uddin in 
                    span.design Development                     
                p.blog__post1-text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod teduntlabore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et erebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit am Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidulabore et dolore aliquyam erat, sed diam 
        .blog__line-big
        .blog__post2
            .blog__post2-left
            .blog__post2-right
                p.blog__post2-date 18 
                    br Oct
                h6.blog__post2-title User Interface Designing Elements 
                p.blog__post2-subtitle By Khalil Uddin in Development 
                p.blog__post2-text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod teduntlabore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et erebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor idunt ut labore et dolore aliquyam 
