.clients
    .container
        .clients__container
            img.clients__logo(alt="logo", src="../img/text1.png")
            img.clients__logo(alt="logo", src="../img/text2.png")
            img.clients__logo(alt="logo", src="../img/text3.png")
            img.clients__logo(alt="logo", src="../img/text4.png")
            img.clients__logo(alt="logo", src="../img/text5.png")
        p.clients__text Hvaing placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum”
        p.client__text John Doe, Google Inc.
        .pointers
            .pointer.pointer-activ
            .pointer
            .pointer