.services  
    .container
        h2.services__title Services
        p.services__subtitle We offer ipsum dolor sit amet, consetetur sadipscing elitr amet 
        .services__about
            .service-item
                h6.service_item__title Clean Typography
                p.service_item__subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.
            .service-item
                h6.service_item__title Rock Solid Code
                p.service_item__subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.
            .service-item
                h6.service_item__title Expert Support
                p.service_item__subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.