.works
    .container
        h6.works__title Latest Works
        .works__line
        .works__sections 
        p.works__sections-subtitle All Branding Design Development Strategy
        .works__examples
            .work__example
            .work__example
            .work__example
            .work__example
            .work__example
            .work__example
            .work__example
            .work__example
            .work__example 